.invites{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.invites-view{
    display: flex;
    flex-wrap: wrap;
}

.invite-tile,
.empty-invite-tile{
    font-size: 0.96rem;
    flex: 1;
    min-width: 200px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    overflow: hidden;
}

.empty-invite-tile{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-action-btns{
    border-top: 1px solid grey;
    height: 1.3rem;
    display: flex;
    width: 100%;
}
.invite-action-btns > button{
    font-size: 0.85em;
    color: var(--text-color);
    flex: 1;
    transition: background-color var(--animation-speed);
}

.invite-action-btns > button:hover{
    background-color: rgba(1, 1, 1, 0.4);
}