.playback-controls-div {
    display: flex;
    flex: 1;
    min-width: 30%;
    flex-direction: column;
    border-right: 1px solid grey;
    height: 100%;
}

.playback-control-buttons,
.playback-tracking-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.playback-control-buttons {
    justify-content: center;
    flex: 1.45;
    align-items: flex-end;
    column-gap: 25px;
}

.playback-tracking-div {
    justify-content: center;
    flex: 1;
    align-items: center;
}

.playback-control-btn {
    padding: 0;
    background-color: var(--hue-primary);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: background-color 0.25s, opacity 0.25s;
}

.playback-control-btn>img {
    width: 60%;
}
.playback-control-btn>img.loading{
    /* selector prevents a bug where spinning starts before icon changes */
    /* The animaiton will only happen with this specific icon */
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.playback-control-btn:hover {
    background-color: var(--hue-bright);
}

.playback-control-btn:active{
    opacity: 0.7;
}
.right-seeker-label,
.left-seeker-label {
    width: 3.4rem;
    color: var(--text-color);
    font-size: 13px;
}

.right-seeker-label {
    text-align: right;
}

.seeker {
    display: flex;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    color: green;
    flex: 1;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    outline: none;
}

 .seeker::-webkit-slider-thumb {
    height: 2px;
    width: 2px;
    background: white;
}
.seeker::-moz-range-thumb {
}
/* 
.seeker::-webkit-slider-runnable-track{
    background: grey;
    border-radius: 5px;
    height: 5%;
}
.seeker::-moz-range-track{
    height: 5%;
    background: grey;
    border-radius: 5px;
}
  */
