.playback-controls-comp {
    display: flex;
    flex: 1;
    min-width: 30%;
    flex-direction: column;
    border-right: 1px solid grey;
    height: 100%;
}

.playback-buttons-div,
.playback-tracking-div {
    display: flex;
}

.playback-buttons-div {
    justify-content: center;
    flex: 1.45;
    align-items: flex-end;
    column-gap: 4%;
}

.playback-tracking-div {
    justify-content: center;
    flex: 1;
    align-items: center;
}

.playback-control-btn {
    padding: 0;
    background-color: var(--hue-primary);
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.25s, opacity 0.25s;
}

.playback-control-btn>img {
    width: 60%;
}

.playback-control-btn>img.loading {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.playback-control-btn:hover {
    background-color: var(--hue-bright);
}

.playback-control-btn:active {
    opacity: 0.7;
}

.right-seeker-label,
.left-seeker-label {
    width: 3.4rem;
    color: var(--text-color);
    font-size: 13px;
}

.right-seeker-label {
    text-align: right;
}
