.horizontal-scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  flex: 1 0 auto;
}

.horizontal-scroll-title {
  display: flex;
  align-items: center;
  height: 1.8rem;
  width: 100%;
  font-size: 1.15rem;
  font-weight: 400;
}
.scroll-area {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 180px;
  grid-auto-rows: 210px;
  overflow: auto;
}


.horizontal-scroll-artist-tile,
.horizontal-scroll-song-tile,
.horizontal-scroll-album-tile {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding: 5px;
  border-radius: 8px;
  row-gap: 5px;
  transition: transform 0.2s ease;
}

.scroll-area > div:hover {
  transform: scale(1.035);
}
.horizontal-scroll-media-info{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.horizontal-scroll-media-icon {
  width: 86%;
  border-radius: 6px;
  
}

.horizontal-scroll-media-name {
  font-size: 0.95em;
  font-weight: 400;
}
.horizontal-scroll-media-artist{
  font-size: 0.9em;
  font-weight: 300;
}



.scroll-area::-webkit-scrollbar {
  display: none; /* hide the scrollbar on webkit-based browsers */
}

/* for Firefox */
.scroll-area {
  scrollbar-width: none;
}
