.media-page{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 100%;

}

.media-page-header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid green;
}

.media-page-header > h1{
    font-size: 1.9em;
    font-weight: 300;
}

.media-page-header > h2{
    font-size: 1.4em;
    font-weight: 200;
    font-style: italic;
    text-transform: capitalize;
}

.media-page.contents{

}