.register-form {
    background-color: var(--hue-primary);
    color: white;
    display: flex;
    flex-direction: column;
    width: 20em;
    align-items: center;
    justify-self: flex-start;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 35px;
    gap: 10px;
}

.register-form > label{
    font-size: 0.93em;
}

.register-form>h2 {
    margin-bottom: 10px;
}

.register-form>* {
    width: 90%;
}

.register-login-option {
    font-size: 0.8em;
}

.register-login-toggle {
    color: white;
    & :visited {
        color: white;
    }
}