.login-form{
    background-color:var(--hue-primary);
    color: white;
    display: flex;
    flex-direction: column;
    width: 18em;
    align-items: center;
    border-radius: 10px;
    justify-self: center;
    gap: 16px;
    padding-top: 15px;
    padding-bottom: 38px;
    height: fit-content;
}


.login-form > * {
    width: 90%;
}

.login-form > input{
    background-color: transparent;
    border-radius: 3px;
    height: 2.3em;
}

.login-form > p{
    font-size: 0.8em;
}

.register-login-toggle:visited{
  color: white;

}
