.login-form{
    background-color:rgba(255, 255, 255, 0.21);
    color: white;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 23em;
    align-items: center;
    border-radius: 10px;
    justify-self: center;
    gap: 16px;
}


.login-form > * {
    width: 90%;
}
.login-form > .form-err-message{
    white-space:unset;
}
.login-form > input{
    background-color: transparent;
    border-radius: 3px;
    height: 2.3em;
}

.login-submit{
    margin-bottom: 2em;
}
.login-form > p{
    font-size: 0.8em;
}

.register-login-toggle:visited{
  color: white;

}