.home-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  color: white;
  gap: 10px;
  overflow: auto;
}
.home-header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.welcome-message {
  font-size: 23px;
  font-weight: 500;
}

.home-profile-div{
  display: flex;
  height: 50px;
  width: 150px;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.home-profile-div > * {
  height: 70%;
}
.home-profile-button{
  color: var(--text-color);
  font-size: 1em;
  font-weight: 400;
  flex: 1;
  transition: background-color var(--animation-speed), opacity var(--animation-speed);
  border-radius: 5px;
}

.home-profile-button:hover{
  background-color: rgb(255, 255, 255, 0.21);
}
.home-profile-button:active{
  opacity: 0.6;
}

.home-header-bottom-line {
  align-self: center;
}
.home-no-media-message {
  display: grid;
  place-content: center;
  height: 5rem;
  width: 70%;
  margin-inline:auto
}