.nav-entry,
.current-nav-entry,
.info-nav-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  height: 2em;
  width: 100%;
  border-radius: var(--default-border-radius);
  text-decoration: none;
}
.nav-entry,
.info-nav-entry {
  background-color: transparent;
  transition: background-color 0.15s, opacity 0.15s;
}

.nav-entry:hover,
.info-nav-entry:hover {
  background-color: var(--hue-primary);
}
.nav-icon {
  height: 80%;
  transition: filter 0.15s;
}
.nav-entry:active,
.current-nav-entry:active,
.info-nav-entry:active {
  opacity: 0.5;
}
.current-nav-entry {
  background-color: transparent;
  border: 1px solid white;
  transition: opacity 0.15s;
}

.nav-label {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: transparent;
  height: 100%;
  font-size: 1.1rem;
  flex: 1;
  padding-left: 7px;
}
@media (max-width: 770px) {
  .nav-label {
    display: none;
  }
  .nav-icon {
    height: 85%;
    margin: auto;
  }
}
