.search-bar {
    height: 2.2em;
    width: 25em;
    background-color: var(--hue-primary);
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    padding-inline: 20px;
}
.search-bar:focus {
    outline: none;
    outline: 1px solid grey;
}

.search-bar::placeholder {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
