.volume-and-devices {
    display: flex;
    flex: 1;
    min-width: max(12%, 13rem);
    max-width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volume-slider {
    height: 0.65em;
    margin-left: 12px;
    vertical-align: middle;
}

.volume-icon {
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
